.topline {
    border: 10px solid;
    border-top-color: #1098ad;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
  
.textalignment {
    max-width: 900px;
    margin: auto;
  }
  
.aside1 {
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #ad351a;
  padding: 10px 20px;
  background-color: #f7f7f7;
  font-weight: bold;
  width: 300px;
  float: left;
  margin-bottom: 20px;
}
  
.aside2 {
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 10px 20px;
  background-color: #f7f7f7;
  width: 300px;
  float: left;
  margin-bottom: 20px;
}

.article {
  top: 20px;
  bottom:  50px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 500px;
  float: right;
  line-height: 1;
}

.navlink {
    margin-left: 15px;
    font-size: 10px;
}

.alink {
  font-size: 8px;
}
  
a:link {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: darkcyan;
  font-size: 15px;
  text-indent: 30px;
  text-decoration: white;
}
  
a:active {
  color: darkcyan;
}
  
a:hover {
  background-color: greenyellow;
}
  
a:visited {
  color: darkcyan;
}
  
h2 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: darkcyan;
  line-height: 1;
  padding-top: 10px;
  margin: 0;
  display: inline-block;
}
  
h3 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: darkcyan;
  line-height: 1;
  padding-top: 10px;
  margin: 0;
  display: inline-block;
}
  
h4 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: black;
  line-height: 1;
  padding-top: 10px;
  margin: 0;
  display: inline-block;
}
  
p {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

li {
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin-top: 1;
}
  
footer{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 15px;
    margin-left: 20px;
}

.button1 {
  float: right;
  border: none;
  color: black;
  padding: 1px 5px;
  font-weight: bold;
  font-size: 10px;
  font-family: Arial;
  background-color: gold;
}

.button2 {
  float: right;
  border: none;
  color: black;
  padding: 1px 5px;
  font-weight: bold;
  font-size: 10px;
  font-family: Arial;
  background-color: gold;
}

.button3{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 15px;
  padding: 10px 10px;
  margin-left: 20px;
}

button:hover {
  background-color: pink;
}


.code {
  padding: 8px 8px;
  background-color: black;
  color: white;
  margin: 10px;
}

.artitle {
  font-size: 15px;
}